label.required {
  text-align: right;
  font-weight: bold;
}

label.required::after {
  content: " *";
  color: red;
}

input.form-control {
  width: 60%;
}

div#form {
  width: 85%;
  float: right;
}

main > header > p {
  color: #6c757d;
}

button {
  text-transform: uppercase;
}
