{% extends "base.html.twig" %}
{% block content %}
  <header>
  <h2>Send to a friend</h2>
  <p>Share this great deal with friends!</p>
  </header>
  <div id="form">
  {% for message in app.flashes('share-success') %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
  {% endfor %}
  {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
  {{ form_end(form) }}
  </div>
{% endblock %}
